.p-dynamic {
    height: 100vh;
    display: flex;
    flex-direction: column;

    &_body {
        flex:1 1 auto
    }

    &_link-icon {
        width: 106rpx;
        height: 106rpx;
        position: fixed;
        right: 78rpx;
        bottom: 200rpx;
    }
}
