.c-img-preview-list {
    display: flex;
    flex-wrap: wrap;

    .l-img-preview-item {
        margin: 15rpx 15rpx 0 0;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    .c-img-preview-item {
        position: relative;

        &_target-img {
            width: 220rpx;
            height: 220rpx;
        }

        &_close-icon {
            position: absolute;
            width: 50rpx;
            height: 50rpx;
            right: 10rpx;
            top: 20rpx;
        }
    }
}
