.p-home {
    min-height: 100vh;
    background: #F6F6F8;

    &_body {
        padding: 30rpx 30rpx 0;
    }

    .l-dynamic-add-btn {
        position: fixed;
        right: 78rpx;
        bottom: 200rpx;
    }
}