.c-full-read-badge-btn {
    &_body {
        width: 200rpx;
        line-height: 50rpx;
        background: #2A77FF;
        text-align: center;
        color: #fff;
        font-size: 24rpx;
        border-radius: 25rpx;
    }
}