.c-link-strip-list {

    &_body {
        padding: 16rpx;
    }

    .l-link-strip {
        margin-bottom: 20rpx;
        border-bottom: 1rpx solid #E0E0E0;

        &:last-child {
            margin-bottom: 0;
            border-bottom: none;
        }
    }

    .c-link-strip {
        display: flex;
        align-items: center;
        padding: 26rpx 0;

        &_icon {
            width: 40rpx;
            height: 40rpx;
            margin-right: 20rpx;
            margin-left: 16rpx;
        }

        &_title {
            color: #363334;
            font-size: 30rpx;
        }
    }
}
