.c-dynamic-item {
    background: #fff;
    padding: 0 30rpx;

    &_header {
        padding: 40rpx 0;
        display: flex;
    }

    &_avatar {
        border-radius: 50%;
        width: 68rpx;
        height: 68rpx;
        margin-right: 22rpx;
    }

    &_user-name {
        font-size: 28rpx;
        color: #333333;
        margin-bottom: 12rpx;
        font-weight: 800;
    }

    &_release-time {
        font-size: 22rpx;
        color: #999999;
    }

    &_content {
        font-size: 34rpx;
        color: #333333;
        line-height: 50rpx;
    }

    &_footer {
        padding: 32rpx 0;
        display: flex;
    }

    &_comment-icon , &_like-icon {
        width: 32rpx;
        height: 32rpx;
        margin-right: 8rpx;
        vertical-align: middle;
    }

    &_comments-num , &_like-num {
        font-size: 24rpx;
        color:#999999;
        margin-right: 41rpx;
    }

}